
    div#crypto-container {
        background: white;
        width: 75%;
        margin : 0 auto 4px auto;
        padding : 1em;
        border: 1px solid rgba(48, 45, 45, 0.288);
        box-shadow: 1px 1.5px  lightgray;
        }
        
        span.left{
          font-weight: bold;
        }
        
        span.right{
          float: right;
        }